<h1>What would you like To do...?</h1>

<% if @todo.valid? %>
    <>
<% end %>

<%= form_for @todo do |f|%>
    <%= f.label  :activity %>
    <%= f.text_field :activity%>

    <%= f.label :priority %>
    <%= f.number_field :priority %>

    <%= f.label :time %>
    <%= f.text_field :time %>

    <%= f.submit%>
<%end%>