<h2>This is what you have to be doing:</h2>

<h3><%= @todo.activity %></h3>
<br>
<h4>Intrest Level: <%= @todo.priority %></h4>
<%= button_to "Edit this", edit_todo_path, method: :get %>
<br>
<%= button_to "<< See Full List ", todos_path, method: :get %>
<br>
<%= button_to "DONE", todo_path, method: :delete %>