<%# <h1>New To Do!</h1> %>
<h2>form_for</h2>

<%= form_for @todo do |f| %>
    <%= f.label :activity %>
    <%= f.text_field :activity %>

    <%= f.label :done %>
    <%= f.text_field :done %>

    <%= f.submit "Submit" %>
<% end %>
